
// About.css
.about-header {
  position: relative;
  margin-top: 50px;
}
  
.title {
  font-family: Poppins;
  font-size: 32px;
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 601px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}

.general-info {
  margin-top: 25px;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.6);
}

.contact {
  font-size: 1.3rem;
}

.contact-icon {
  font-size: 2rem;
  bottom: 8px;
}

.history {
  background-color: rgb(0, 0, 0, 0.6);
}

.about-text {
  font-size: 1.2rem;
}

.photo-container {
  text-align: center;
  color: rgb(224, 224, 224);
}

.photo {
  max-width: 100%;
  border: 1px solid rgb(204, 204, 204);
}