.about-section {
    padding: 2rem;
    font-size: 1.2rem;
    color: tan;
}

.section-title {
    color: rgb(247, 229, 196);
    padding-bottom: 1rem;
}

.photo-container {
    text-align: center;
}

.photo {
    border: 1px solid tan;
}