// Events.scss
.events {
  min-height: 650px;
}

.event-header {
  position: relative;
  margin-top: 50px;
  border-bottom: 1px solid #fff;
}
  
.event-title {
  font-family: Lato;
  font-size: 32px;
}

@media screen and (min-width: 601px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}

