// Photoform.scss
.photo-form {
    padding: 30px;
    background-color: black;
}

// Photogallery.scss
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    //margin-left: -30px; /* gutter size offset */
    width: auto;
    padding-top: 1rem;
}
.my-masonry-grid_column {
    padding-left: 0px; /* gutter size */
    background-clip: padding-box;
    column-width: 80;  
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: transparent;
}

.my-masonry-grid_column > div > img {
    max-width: 100%;
    padding: 3px;
}

.my-masonry-grid_column > div > a > img {
    max-width: 100%;
    padding: 3px;
}
.edit-button {
    margin-bottom: 25px;
}

.grid {
    max-width: 100%;
}
  
/* clearfix */
    .grid:after {
    content: '';
    display: block;
    clear: both;
}
  
  /* ---- grid-item ---- */
.grid-item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
}

.content {
    margin-top: 15px;
    min-height: 500px;
    img {
        cursor: pointer;
        width: 100%;
        min-height: 100%;
        padding: 3px;
    }
}


.album {
    min-height: 800px;
}

.album-thumbnail {
    color: white;
}

.gallery-header {
    position: relative;
    margin-top: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.gallery-title {
    font-family: Lato;
    font-size: 32px;
}





