.editor {
    min-height: 650px;
    background-color: #0000;
}

.editor {
    .card {
       padding: 2rem; 
    }
}

.editor-header {
    font-size: 48px;
    color: rgb(212, 12, 12);
    margin-top: 10px;
    border-bottom: 4px solid #fff;
}

.editor-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    background-color: rgb(36, 36, 36);
}

.editor-link {
    font-size: 24px;
    text-align: center;
}


.custom-quill > .ql-container >.ql-editor {
    min-height: 200px;
}
