.navbar {
    border-top: 1px solid tan;
    border-bottom: 10px solid tan;
}

.logo-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    max-width: 8rem;
}

.nav-text {
    font-size: 1.1rem;
    color: tan;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}
