// About.css
.about-section {
  padding: 2rem;
  font-size: 1.2rem;
  color: rgb(204, 204, 204);
}

.section-title {
  color: rgb(212, 12, 12);
  padding-bottom: 1rem;
}

.photo-container {
  text-align: center;
  color: rgb(224, 224, 224);
}

.photo {
  border: 1px solid rgb(204, 204, 204);
}

// Blogposts.css

.blog-container {
  margin-left: 5rem;
  margin-right: 2rem;
}

.blogpost {
  padding: 2rem;
  font-family: "Merriweather", serif;
}

.blog-title {
  color: rgb(212, 12, 12);
}

.blog-date {
  font-family: "Merriweather", serif;
  color: rgb(126, 126, 126);
  margin: 0.8rem 0 2rem;
}

.blog-body { 
  font-size: large;
  color: rgb(204, 204, 204);
}

.blog-button {
  margin: 0 auto;
  display: block;
}

// Banner.css
.carousel-item {
    max-height: 450px;
}

// Header.css
.header {
  background-color: rgb(204, 204, 204);
}

.navbar {
  border-top: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
  background-color: rgb(126, 126, 126);
}

.logo-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    max-width: 8rem;
}

.nav-text {
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}

// Footer.css

.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-right: 1rem;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.email:hover
{
  background-color:#d44638
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

// Membership.scss
.membership {
  font-family: "Merriweather", serif;
  margin: 2rem auto 2rem auto;
  font-size: 1.2rem;
  color: rgb(204, 204, 204);
}

// Photoform.scss
.photo-form {
    padding: 30px;
    border: 2px solid tan;
}

// Photogallery.scss
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    //margin-left: -30px; /* gutter size offset */
    width: auto;
    padding-top: 1rem;
}
.my-masonry-grid_column {
    padding-left: 0px; /* gutter size */
    background-clip: padding-box;
    column-width: 80;
    
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: transparent;
}

.my-masonry-grid_column > div > img {
    max-width: 100%;
    padding: 3px;
}

// REACT ICONS STYLES
.react-icons {
  vertical-align: bottom;
}